
<template>
  <div id="app" >
    <Navbar />
    <Form  />
  </div>
</template>

<script>
import Form from '../components/Form.vue'
import Navbar from '../components/Navbar.vue'


export default {
  name: 'App' ,
  components: {
    Navbar,
    Form
  },
  mounted(){
    console.log(process.env.VUE_APP_API_URL)
  }
}
</script>

<style>
#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction : column;
  justify-content:center;
  align-items:center;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
