<template>
  <div class="container">
    <router-view />
  </div>
</template>

<style>
html, body {
   margin: 0;
  padding: 0;
  height: 100vh;
  width : 100vw;
}
.container {
  margin: 0;
  padding: 0;
  height: 100vh;
  width : 100vw;
}
</style>