<template>
  
  <div class="container">
        <img alt="Vue logo" src="./../assets/logo.png"  />
        <input v-model="policyNumber" class="text-input" type="text" placeholder="Buscar..."  />
        <button @click="searchPolicy" class="button"><h4>Buscar</h4></button>
        <div class="message">
          <p v-if="message.length > 0 || loading">{{message}}</p>
        </div>
  </div>

</template>

<script>

import { performHttpGetRequest,httpPipeline, parseResponse } from "../utils/http.utils";
import { PATH_CONTROLLER,METHOD_CONTROLLER } from "../constants";

export default {
  name: 'Form',
  data () {
    return {
      policyNumber: null,
      message : "",
      loading : false,
    }
  },
  methods : {
    searchPolicy : function(){

      this.loading = true

      performHttpGetRequest(httpPipeline(process.env.VUE_APP_API_URL,PATH_CONTROLLER,METHOD_CONTROLLER),{
        policyNumber : this.policyNumber
      }).then((response) => response.data)
        .then(data => {
          this.message =  parseResponse(data) 
          
          this.loading = false
          })
    }
  }
}
</script>

<style scoped>


.container{
  background-color: #fff;
  height : 50%;
  width  : 50%;
  flex-direction: column;
  display : flex;
  justify-content: center;
  align-items: center;
}
.message{
  margin-top: 15px;
  width : 30%;
  height : 20px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
.text-input{
  display: flex;
  outline: none;
  height: 2em;
  width: 30%;
}
.button{
  margin-top: 20px;
  width : 30%;
  height : 3em;
  outline: none;
  cursor: pointer;
}
h4{
  padding: 0;
  margin:0;
}
</style>
