<template>
    <div class="main-navbar">
        <h1 style="margin-left : 25px;color: white;" >Interseguros</h1>
    </div>
</template>

<script>

    export default {
        name: 'Navbar',
    }

</script>

<style scoped>

.main-navbar {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:center;
    background-color:#171717
}
</style>
